* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-color: #edf2f8;
  overflow-x: hidden;
}
.brand-page-wrapper{
  padding: 20px 60px;
}
.kof-card{
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.news-description{
  font-size: 10px;
}
.profile-pic{
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.contact-person-img{
  width: 180px;
  height: 180px;
  border-radius: 10px;
}
.influencer-count{
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 0;
}
.connection{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: red;
  overflow: hidden;
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 3px;
}
.connection img{
  width: 100%;
  height: 100%;
  
  object-fit: cover;
}
.connection{
  margin-left: -8px;
}
.mutual-connection{
  font-size: small;
}